-- This script creates a SQL Server 2016 database named MIMIC3


CREATE DATABASE [MIMIC3]
 CONTAINMENT = NONE
GO
USE [MIMIC3]
GO
USE [MIMIC3]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [MIMIC3] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
